body{
    background: rgb(170, 176, 130);

}
section {
    background-color: rgb(236, 242, 237);
    padding: 20px;
    display: flex;
    flex-direction: row;
}
ul {
    margin: 0;
    padding:   0;
    list-style: none;          
}
li{
    display: inline-block;
    margin: 20px;
}
div {
    background-color: rgb(188, 188, 188);
    margin: auto;
    width: 100px; 
}
footer {
    background-color: rgb(226, 211, 211);
    padding: 10px 20px;
}